<?xml version="1.0" encoding="UTF-8"?>   
<widget xmlns="http://www.w3.org/ns/widgets"           
	xmlns:gap= "http://phonegap.com/ns/1.0">
	<author>Noah Hebert</author>
	<name>Parkolo</name>
	<description>A way to search for parks through their name, the city or any features available at the parks.  Database expansion to come.</description>
	<content src="index.html"/>  
	<icon src="images/Parkolo_icon.png" gap:platform="winphone" />
	<icon src="images/Parkolo_icon.png" gap:platform="winphone" gap:role="background" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="images/Parkolo_icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
</widget>  

    